header {
  .content {
    width: 100%;
    display: flex;
    justify-self: center;
  }

  .sub_media {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    max-width: $maxPrimaryPageWidth;
    width: 100%;
    padding: 0 40px;
  }

  .nav_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    overflow: visible;
  }

  .logo {
    display: block;
    margin-right: 16px;
    width: 154px;
    height: 20px;
  }

  a {
    color: #fff;
    font-weight: 60;
    &:hover {
      color: #fff !important;
    }
  }

  .navbar--color {
    background-color: $tmdbDarkBlue;
  }

  .nav-link {
    color: white !important;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .nav-item {
    margin-right: 14px !important;
  }

  .dropdown-item:hover {
    color: inherit !important;
  }
}